<!DOCTYPE html>
<html lang="en">
<head>
        <title>pydanny - django</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href=".././theme/css/main.css" type="text/css" />
        <link href="/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="pydanny Atom Feed" />
        

        <!--[if IE]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <!--[if lte IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href=".././css/ie.css"/>
                <script src=".././js/IE8.js" type="text/javascript"></script><![endif]-->

        <!--[if lt IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href=".././css/ie6.css"/><![endif]-->

</head>

<body id="index" class="home">

<a href="https://github.com/pydanny/pydanny.github.com">

<img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" />

</a>

        <header id="banner" class="body">
                <h1><a href="../.">pydanny </a></h1>
                <nav><ul>
                
                
                
                    <li><a href=".././pages/about.html">About</a></li>
                
                    <li><a href=".././pages/tools.html">Tools</a></li>
                
                    <li><a href=".././pages/upcoming.html">Upcoming</a></li>
                
                
                
                    <li ><a href=".././category/audrey.html">Audrey</a></li>
                
                    <li ><a href=".././category/blog.html">Blog</a></li>
                
                    <li class="active"><a href=".././category/django.html">Django</a></li>
                
                    <li ><a href=".././category/python.html">Python</a></li>
                
                </ul></nav>
        </header><!-- /#banner -->
                

            

        
        
            <aside id="featured" class="body">
                <article>
                    <h1 class="entry-title"><a href=".././django-class-based-view-email-form-with-captcha.html">Django Class Based View: email form with CAPTCHA</a></h1> 
                    <footer class="post-info">
        <abbr class="published" title="2012-05-22T09:30:00">
                Tue 22 May 2012
        </abbr>

        
        <address class="vcard author">
                By <a class="url fn" href=".././author/Daniel-Greenfeld.html">Daniel-Greenfeld</a>
        </address>
        
<p>In <a href=".././category/django.html">django</a>. </p>
<p>tags: <a href=".././tag/python.html">python</a><a href=".././tag/django.html">django</a><a href=".././tag/howto.html">howto</a></p>


</footer><!-- /.post-info --><p><a class="reference external" href="http://pydanny.com/simple-django-email-form-using-cbv.html">Yesterday I showed how to implement a simple email form</a> for <a class="reference external" href="http://djangoproject.com">Django</a> using Class Based Views. Today I'm going to extend yesterday's work to use the excellent <a class="reference external" href="http://www.google.com/recaptcha">RECAPTCHA</a> service to help reduce spam content.</p>
<p>This version requires <tt class="docutils literal">pip</tt> installing the following into your <tt class="docutils literal">virtualenv</tt>.</p>
<ul class="simple">
<li><tt class="docutils literal">pip install <span class="pre">django-crispy-forms</span></tt> so we can do Python driven layouts.</li>
<li><tt class="docutils literal">pip install <span class="pre">django-floppyforms</span></tt> so we get HTML5 elements for free.</li>
<li><tt class="docutils literal">pip install <span class="pre">django-recaptcha</span></tt> to do the RECAPTCHA work.</li>
</ul>
<p>Don't forget to add the app to your INSTALLED_APPS in settings.py:</p>
<div class="highlight"><pre><span class="n">INSTALLED_APPS</span> <span class="o">+=</span> <span class="p">(</span>
    <span class="s">&#39;crispy_forms&#39;</span><span class="p">,</span>
    <span class="s">&#39;floppyforms&#39;</span><span class="p">,</span>
    <span class="s">&#39;captcha&#39;</span><span class="p">,</span>
<span class="p">)</span>
</pre></div>
<p>Generate your KEYs from the RECAPTCHA site and add them in settings.py:</p>
<div class="highlight"><pre><span class="n">RECAPTCHA_PUBLIC_KEY</span> <span class="o">=</span> <span class="s">&#39;6LcVu9ESAAAAANVWwbM5-PLuLES94GQ2bIYmSNTG&#39;</span>
<span class="n">RECAPTCHA_PRIVATE_KEY</span> <span class="o">=</span> <span class="s">&#39;6LcVu9ESAAAAAGxz7aEIACWRa3CVnXN3mFd-cajP&#39;</span>
</pre></div>
<p>In myapp.forms.py:</p>
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">captcha.fields</span> <span class="kn">import</span> <span class="n">ReCaptchaField</span>  <span class="c"># Only import different from yesterday</span>
<span class="kn">from</span> <span class="nn">crispy_forms.helper</span> <span class="kn">import</span> <span class="n">FormHelper</span>
<span class="kn">from</span> <span class="nn">crispy_forms.layout</span> <span class="kn">import</span> <span class="n">Submit</span>
<span class="kn">import</span> <span class="nn">floppyforms</span> <span class="kn">as</span> <span class="nn">forms</span>

<span class="k">class</span> <span class="nc">ContactForm</span><span class="p">(</span><span class="n">forms</span><span class="o">.</span><span class="n">Form</span><span class="p">):</span>

    <span class="n">name</span> <span class="o">=</span> <span class="n">forms</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">required</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
    <span class="n">email</span> <span class="o">=</span> <span class="n">forms</span><span class="o">.</span><span class="n">EmailField</span><span class="p">(</span><span class="n">required</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
    <span class="n">subject</span> <span class="o">=</span> <span class="n">forms</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">required</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
    <span class="n">message</span> <span class="o">=</span> <span class="n">forms</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">widget</span><span class="o">=</span><span class="n">forms</span><span class="o">.</span><span class="n">Textarea</span><span class="p">)</span>
    <span class="n">captcha</span> <span class="o">=</span> <span class="n">ReCaptchaField</span><span class="p">()</span>  <span class="c"># Only field different from yesterday</span>

    <span class="k">def</span> <span class="nf">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">helper</span> <span class="o">=</span> <span class="n">FormHelper</span><span class="p">()</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">helper</span><span class="o">.</span><span class="n">add_input</span><span class="p">(</span><span class="n">Submit</span><span class="p">(</span><span class="s">&#39;submit&#39;</span><span class="p">,</span> <span class="s">&#39;Submit&#39;</span><span class="p">))</span>
        <span class="nb">super</span><span class="p">(</span><span class="n">ContactForm</span><span class="p">,</span> <span class="bp">self</span><span class="p">)</span><span class="o">.</span><span class="n">__init__</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">)</span>
</pre></div>
<p>In myapp.views.py:</p>
<div class="highlight"><pre><span class="c"># Unchanged from yesterday. :-)</span>
<span class="kn">from</span> <span class="nn">django.conf</span> <span class="kn">import</span> <span class="n">settings</span>
<span class="kn">from</span> <span class="nn">django.core.mail</span> <span class="kn">import</span> <span class="n">send_mail</span>
<span class="kn">from</span> <span class="nn">django.views.generic</span> <span class="kn">import</span> <span class="n">FormView</span>

<span class="kn">from</span> <span class="nn">myapp.forms</span> <span class="kn">import</span> <span class="n">ContactForm</span>

<span class="k">class</span> <span class="nc">ContactFormView</span><span class="p">(</span><span class="n">FormView</span><span class="p">):</span>

    <span class="n">form_class</span> <span class="o">=</span> <span class="n">ContactForm</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s">&quot;myapp/email_form.html&quot;</span>
    <span class="n">success_url</span> <span class="o">=</span> <span class="s">&#39;/email-sent/&#39;</span>

    <span class="k">def</span> <span class="nf">form_valid</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">form</span><span class="p">):</span>
        <span class="n">message</span> <span class="o">=</span> <span class="s">&quot;{name} / {email} said: &quot;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span>
            <span class="n">name</span><span class="o">=</span><span class="n">form</span><span class="o">.</span><span class="n">cleaned_data</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">&#39;name&#39;</span><span class="p">),</span>
            <span class="n">email</span><span class="o">=</span><span class="n">form</span><span class="o">.</span><span class="n">cleaned_data</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">&#39;email&#39;</span><span class="p">))</span>
        <span class="n">message</span> <span class="o">+=</span> <span class="s">&quot;</span><span class="se">\n\n</span><span class="s">{0}&quot;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">form</span><span class="o">.</span><span class="n">cleaned_data</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">&#39;message&#39;</span><span class="p">))</span>
        <span class="n">send_mail</span><span class="p">(</span>
            <span class="n">subject</span><span class="o">=</span><span class="n">form</span><span class="o">.</span><span class="n">cleaned_data</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">&#39;subject&#39;</span><span class="p">),</span>
            <span class="n">message</span><span class="o">=</span><span class="n">message</span><span class="p">,</span>
            <span class="n">from_email</span><span class="o">=</span><span class="s">&#39;contact-form@myapp.com&#39;</span><span class="p">,</span>
            <span class="n">recipient_list</span><span class="o">=</span><span class="p">[</span><span class="n">settings</span><span class="o">.</span><span class="n">LIST_OF_EMAIL_RECIPIENTS</span><span class="p">],</span>
        <span class="p">)</span>
        <span class="k">return</span> <span class="nb">super</span><span class="p">(</span><span class="n">ContactFormView</span><span class="p">,</span> <span class="bp">self</span><span class="p">)</span><span class="o">.</span><span class="n">form_valid</span><span class="p">(</span><span class="n">form</span><span class="p">)</span>
</pre></div>
<p>In templates/myapp/email_form.html:</p>
<div class="highlight"><pre>{# Also unchanged from yesterday. :-)  #}
{% extends &#39;base.html&#39; %}
{% load crispy_forms_tags %}

{% block title %}Send an email{% endblock %}

{% block content %}
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;row&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;span6&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h1&gt;</span>Send an email<span class="nt">&lt;/h1&gt;</span>
            {% crispy form form.helper %}
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
{% endblock %}

{% block extrajs %}
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">&quot;{{ STATIC_URL }}js/jquery-1.7.1.min.js&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span><span class="nt">&gt;</span>
<span class="nx">$</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">$</span><span class="p">(</span><span class="s1">&#39;#id_name&#39;</span><span class="p">).</span><span class="nx">focus</span><span class="p">()</span>
<span class="p">});</span>
<span class="nt">&lt;/script&gt;</span>
{% endblock %}
</pre></div>
<div class="section" id="what-i-did">
<h2>What I did</h2>
<ul class="simple">
<li>Using <tt class="docutils literal">pip</tt> I installed three packages into my Python environment.</li>
<li>Added those three packages into the INSTALLED_APPS setting.</li>
<li>Set the RECAPTCHA keys for my site.</li>
<li>Modified the <tt class="docutils literal">forms.py</tt> file from yesterday to include the RECAPTCHA field.</li>
<li>Reduced spam content.</li>
</ul>
</div>
<div class="section" id="what-i-could-do">
<h2>What I could do</h2>
<ul class="simple">
<li>Pin the app versions for a particular release. This is what you should be doing in normal development and in production, but for a blog entry I'm avoiding it because release numbers become quickly dated.</li>
<li>Rather than change the <tt class="docutils literal">ContactForm</tt> from yesterday, I could have extended it via inheritance.</li>
</ul>
</div>
<div class="section" id="want-to-learn-more">
<h2>Want to learn more?</h2>
<p>If you live in the Los Angeles area and want to learn more about Django, everything from the basics to setting up a Content Management System or E-Commerce system, check out our Django (and <a class="reference external" href="http://python.org">Python</a>) training at <a class="reference external" href="https://academy.cartwheelweb.com">Cartwheel Academy</a>.</p>
</div>
<p>There are <a href=".././django-class-based-view-email-form-with-captcha.html#disqus_thread">comments</a>.</p>
                </article>
                
            </aside><!-- /#featured -->
            
                <section id="content" class="body">
                    <h1>Other articles</h1>
                    <hr />
                    <ol id="posts-list" class="hfeed">
            
        
        
        
        
            

        
         
            
            <li><article class="hentry">    
                <header>
                        <h1><a href=".././simple-django-email-form-using-cbv.html" rel="bookmark" title="Permalink to Simple Django email form using CBV">Simple Django email form using CBV</a></h1>
                </header>
                
                <div class="entry-content">
                <footer class="post-info">
        <abbr class="published" title="2012-05-22T09:30:00">
                Tue 22 May 2012
        </abbr>

        
        <address class="vcard author">
                By <a class="url fn" href=".././author/Daniel-Greenfeld.html">Daniel-Greenfeld</a>
        </address>
        
<p>In <a href=".././category/django.html">django</a>. </p>
<p>tags: <a href=".././tag/python.html">python</a><a href=".././tag/django.html">django</a><a href=".././tag/howto.html">howto</a></p>


</footer><!-- /.post-info -->
                <p>Here's a simple <tt class="docutils literal">FormView</tt> Class Based Views for <a class="reference external" href="http://djangoproject.com">Django</a>. Here is a sample of how to do one as a simple email form. There is no CAPTCHA in this example, that's the topic of a future blog post.</p>
<p>This version requires the following packages <tt class="docutils literal">pip</tt> installed into your ...</p>
                <a class="readmore" href=".././simple-django-email-form-using-cbv.html">read more</a>
                <p>There are <a href=".././simple-django-email-form-using-cbv.html#disqus_thread">comments</a>.</p>
                </div><!-- /.entry-content -->
            </article></li>
        
        
        
            

        
         
            
            <li><article class="hentry">    
                <header>
                        <h1><a href=".././10-reasons-to-go-to-djangocon-europe.html" rel="bookmark" title="Permalink to 10 reasons to go to DjangoCon Europe">10 reasons to go to DjangoCon Europe</a></h1>
                </header>
                
                <div class="entry-content">
                <footer class="post-info">
        <abbr class="published" title="2012-05-14T19:30:00">
                Mon 14 May 2012
        </abbr>

        
        <address class="vcard author">
                By <a class="url fn" href=".././author/Daniel-Greenfeld.html">Daniel-Greenfeld</a>
        </address>
        
<p>In <a href=".././category/django.html">django</a>. </p>
<p>tags: <a href=".././tag/python.html">python</a><a href=".././tag/django.html">django</a><a href=".././tag/europe.html">europe</a><a href=".././tag/djangocon.html">djangocon</a></p>


</footer><!-- /.post-info -->
                <p>You should go to <a class="reference external" href="http://djangocon.eu">DjangoCon Europe</a> in lovely <a class="reference external" href="https://en.wikipedia.org/wiki/Zurich">Zurich</a>, <a class="reference external" href="https://en.wikipedia.org/wiki/Switzerland">Switzerland</a>. Here are 10 reasons why:</p>
<div class="section" id="chocolate">
<h2>1. <strong>Chocolate</strong></h2>
<p>So much of what we like about chocolate comes from Switzerland. For example, Milk Chocolate was invented in Switzerland.</p>
</div>
<div class="section" id="keynote-speaker-jacob-kaplan-moss">
<h2>2. <strong>Keynote speaker: Jacob Kaplan-Moss</strong></h2>
<p>Always a great speaker and fun to be around ...</p></div>
                <a class="readmore" href=".././10-reasons-to-go-to-djangocon-europe.html">read more</a>
                <p>There are <a href=".././10-reasons-to-go-to-djangocon-europe.html#disqus_thread">comments</a>.</p>
                </div><!-- /.entry-content -->
            </article></li>
        
        
        
            

        
         
            
            <li><article class="hentry">    
                <header>
                        <h1><a href=".././choosing-an-api-framework-for-django.html" rel="bookmark" title="Permalink to Choosing an API framework for Django">Choosing an API framework for Django</a></h1>
                </header>
                
                <div class="entry-content">
                <footer class="post-info">
        <abbr class="published" title="2012-05-10T08:00:00">
                Thu 10 May 2012
        </abbr>

        
        <address class="vcard author">
                By <a class="url fn" href=".././author/Daniel-Greenfeld.html">Daniel-Greenfeld</a>
        </address>
        
<p>In <a href=".././category/django.html">django</a>. </p>
<p>tags: <a href=".././tag/python.html">python</a><a href=".././tag/django.html">django</a><a href=".././tag/api.html">api</a><a href=".././tag/review.html">review</a></p>


</footer><!-- /.post-info -->
                <p>First off, out of the box, <a class="reference external" href="http://djangoproject.com">Django</a> lets you construct API responses with a little work. All you need to do is something like this:</p>
<div class="highlight"><pre><span class="c"># Copied from https://docs.djangoproject.com/en/1.4/topics/class-based-views/#more-than-just-html</span>
<span class="kn">from</span> <span class="nn">django</span> <span class="kn">import</span> <span class="n">http</span>
<span class="kn">from</span> <span class="nn">django.utils</span> <span class="kn">import</span> <span class="n">simplejson</span> <span class="k">as</span> <span class="n">json</span>

<span class="k">class</span> <span class="nc">JSONResponseMixin ...</span></pre></div>
                <a class="readmore" href=".././choosing-an-api-framework-for-django.html">read more</a>
                <p>There are <a href=".././choosing-an-api-framework-for-django.html#disqus_thread">comments</a>.</p>
                </div><!-- /.entry-content -->
            </article></li>
        
        
        
            

        
         
            
            <li><article class="hentry">    
                <header>
                        <h1><a href=".././django-requirements-for-a-project.html" rel="bookmark" title="Permalink to Django Requirements for a project">Django Requirements for a project</a></h1>
                </header>
                
                <div class="entry-content">
                <footer class="post-info">
        <abbr class="published" title="2012-05-09T08:00:00">
                Wed 09 May 2012
        </abbr>

        
        <address class="vcard author">
                By <a class="url fn" href=".././author/Daniel-Greenfeld.html">Daniel-Greenfeld</a>
        </address>
        
<p>In <a href=".././category/django.html">django</a>. </p>
<p>tags: <a href=".././tag/python.html">python</a><a href=".././tag/django.html">django</a></p>


</footer><!-- /.post-info -->
                <p>Today I'm starting a new project. I'm working as fast as I can and hope to launch on Friday. What are my package dependencies?</p>
<div class="section" id="django-1-4">
<h2><a class="reference external" href="http://pypi.python.org/pypi/Django/1.4">Django==1.4</a></h2>
<p>Unlike my last quick project which was <a class="reference external" href="http://flask.pocoo.org/">Flask</a>, this effort really falls into <a class="reference external" href="http://djangoproject.com">Django</a>'s sweet spot. I need sessions, forms ...</p></div>
                <a class="readmore" href=".././django-requirements-for-a-project.html">read more</a>
                <p>There are <a href=".././django-requirements-for-a-project.html#disqus_thread">comments</a>.</p>
                </div><!-- /.entry-content -->
            </article></li>
        
        
        
            

        
         
            
            <li><article class="hentry">    
                <header>
                        <h1><a href=".././join-us-at-djangocon-europe.html" rel="bookmark" title="Permalink to Join us at DjangoCon Europe!">Join us at DjangoCon Europe!</a></h1>
                </header>
                
                <div class="entry-content">
                <footer class="post-info">
        <abbr class="published" title="2012-04-10T12:00:00">
                Tue 10 April 2012
        </abbr>

        
        <address class="vcard author">
                By <a class="url fn" href=".././author/Daniel-Greenfeld.html">Daniel-Greenfeld</a>
        </address>
        
<p>In <a href=".././category/django.html">django</a>. </p>
<p>tags: <a href=".././tag/python.html">python</a><a href=".././tag/django.html">django</a><a href=".././tag/djangocon.html">djangocon</a><a href=".././tag/mongodb.html">mongodb</a></p>


</footer><!-- /.post-info -->
                <p>This year in June, the European edition of <a class="reference external" href="http://djangocon.eu">DjangoCon</a> is going to be held in lovely <a class="reference external" href="https://en.wikipedia.org/wiki/Zurich">Zurich</a>, <a class="reference external" href="https://en.wikipedia.org/wiki/Switzerland">Switzerland</a>. It is my great fortune and delight to announce that <a class="reference external" href="http://audreymroy.com">Audrey</a> and I will be attending. Hooray!</p>
<p>Needless to say, we're extremely excited. My <a class="reference external" href="http://dannygreenfeld.blogspot.com/search/label/ploneconf2007">trip to Europe in 2007</a> was an ...</p>
                <a class="readmore" href=".././join-us-at-djangocon-europe.html">read more</a>
                <p>There are <a href=".././join-us-at-djangocon-europe.html#disqus_thread">comments</a>.</p>
                </div><!-- /.entry-content -->
            </article></li>
        
        
        
            

        
         
            
            <li><article class="hentry">    
                <header>
                        <h1><a href=".././django-uni-form-end-of-life.html" rel="bookmark" title="Permalink to django-uni-form end of life">django-uni-form end of life</a></h1>
                </header>
                
                <div class="entry-content">
                <footer class="post-info">
        <abbr class="published" title="2012-02-18T01:00:00">
                Sat 18 February 2012
        </abbr>

        
        <address class="vcard author">
                By <a class="url fn" href=".././author/Daniel-Greenfeld.html">Daniel-Greenfeld</a>
        </address>
        
<p>In <a href=".././category/django.html">django</a>. </p>
<p>tags: <a href=".././tag/django.html">django</a><a href=".././tag/python.html">python</a></p>


</footer><!-- /.post-info -->
                <p>I started on django-uni-form in January 2009. In order to use <a class="reference external" href="http://pinaxproject.com">Pinax</a> on an internal social network for <a class="reference external" href="http://www.nasa.gov">NASA</a> HQ, we had to render all content, including forms, <a class="reference external" href="http://django-uni-form.readthedocs.org/en/latest/concepts.html#section-508">Section 508</a> compliant. Rather than rewrite the html for all 50+ forms that existed in the  Pinax 0.5.x framework at ...</p>
                <a class="readmore" href=".././django-uni-form-end-of-life.html">read more</a>
                <p>There are <a href=".././django-uni-form-end-of-life.html#disqus_thread">comments</a>.</p>
                </div><!-- /.entry-content -->
            </article></li>
        
        
            <div class="pagination">
<ul>

    <li class="prev disabled"><a href="#">&larr; Previous</a></li>



    <li class="active"><a href=".././category/django.html">1</a></li>



    <li class="next disabled"><a href="#">&rarr; Next</a></li>


</ul>
</div>
        
        
            </ol><!-- /#posts-list -->
            </section><!-- /#content -->
        
    


        <section id="extras" class="body">
        
        
                <div class="social">
                        <h2>social</h2>
                        <ul>
                            <li><a href="/feeds/all.atom.xml" type="application/atom+xml" rel="alternate">atom feed</a></li>
                            

                        
                            <li><a href="http://twitter.com/pydanny">twitter</a></li>
                        
                            <li><a href="https://github.com/pydanny">github</a></li>
                        
                            <li><a href="http://www.facebook.com/daniel.greenfeld">facebook</a></li>
                        
                        </ul>
                </div><!-- /.social -->
        
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://pelican.notmyidea.org/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->

                <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->


    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-18066389-3");
    pageTracker._trackPageview();
    } catch(err) {}</script>



<script type="text/javascript">
    var disqus_shortname = 'pydanny';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

</body>
</html>